* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.galeria {
  margin-top: 10px;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}

.galeria__img img {
  width: 300px;
  height: 300px;
}
